h1 {color:blue; font-size:80px;}
h2 {color:red; font-size:60px;}
h3 {color:green; font-size:40px;}
h4 {color:pink; font-size:20px;}
h5 {background-color:blue;font-size:100px; background-blend-mode: }
h6 {color:black; font-size:40px;}
h7 {color}
h8 {color:black; font-size:50px}
h9 {font-size:40px; background-blend-mode:}
